@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 241, 245, 249;
}

.dark {
  --foreground-rgb: 237, 237, 237;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 30, 41, 59;
}
